p(style="font-family: arial, sans-serif;") The #{subject.name} training session on #[strong #{clazz.datetime}] is cancelled.

p(style="font-family: arial, sans-serif;") We will reach out the trainers pool and try to reschedule the session as soon as possible.

p(style="font-family: arial, sans-serif;") If you have any questions, feel free to contact our team at Southamericatrainingondemand@bain.com.

p(style="font-family: arial, sans-serif;")
    | Best,
    br
    | Eduarda Dreux
